{% extends 'base.html' %} 
{% block titulo %} Viviera Retainers{% endblock %} 
{% block descripcion_pagina %}Maintain your new smile with Vivera Retainers.{% endblock %} 

{% block javascript %}
    <script type="text/javascript">
        function ocultar(nd) {
            var divt2 = document.getElementById("t" + nd);
            if (divt2.style.display == "block") {
                divt2.style.display = "none";
            } else {
                divt2.style.display = "block";
            }
        
        }
        
        function ocultarpopup(ndp) {
            var divt2 = document.getElementById("p" + ndp);
            if (divt2.style.display == "block") {
                divt2.style.display = "none";
            } else {
                divt2.style.display = "block";
            }
        
        }
        
        function docultarpopup(ndp) {
            var divt2 = document.getElementById("p" + ndp);
            if (divt2.style.display == "block") {
                divt2.style.display = "none";
            } else {
                divt2.style.display = "block";
            }
        
        }
    </script>
{% endblock %}
{% block contenido_pagina %} 
<div id="main-content">
    <div id="breadcrumb">
        <ul>
            {% include 'services/invisalign/breadcrumb.html' %}
            <li>></li>
            <li>
                <a href="{{ path_for('viviera_retainers') }}" style="color:#A3D483;">Viviera Retainers</a>
            </li>
        </ul>
    </div>
	{% include 'services/invisalign/menu_invisalign.html'%}
    <div id="main-contents-sup">
        <div class="content-text-left">
		    <img data-src="{{ static }}images/invisalign-viviera-retainers.jpg" style="width:100%;margin-top:20px;" alt="Viviera Retainers" title="Viviera Retainers">
            <h1>Viviera Retainers</h1>
            <h2>Maintain your new smile with Vivera Retainers</h2>
            <p class="text-left">It took time, skill and investment to create your confident new smile. To make sure it lasts for years to come, consider using Vivera retainers.</p>
            <h2>Importance of retention</h2>
            <p class="text-left">Studies show that without retention even aligned teeth can gradually revert back towards their initial position. This is a very common problem with all orthodontic treatments, but it is one that can easily be overcome. Wearing Vivera retainers means you can protect your smile – now and in the future.</p>
            <h2>Why choose Vivera retainers?</h2>
            <p class="text-left">Vivera retainers are made with the same state-of-the-art technology as Invisalign aligners. This means that by using Vivera retainers to maintain your new smile, you benefit from some of the same qualities found in our revolutionary aligners.</p>
            <div style="background:url({{ static }}images/aligner.png) no-repeat;display:inline-block;width:276px;height:244px;margin-top:15px;">
                <div style="background:url({{ static }}images/blue-button.png) no-repeat;display:block;padding:0px 18px;height:30px;width:150px;margin-left:200px;cursor:pointer;" onmouseover="ocultarpopup(6)" onmouseout="docultarpopup(6)">Comfort through technology<span id="p6" style="position:relative;display:none;text-align:justify;width:250px;background: #98CAED;color: white;padding: 10px;border: 1px solid white;border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px;">Vivera retainers are made with the same state-of-the-art technology as Invisalign.</span>
                </div>
                <div style="background:url({{ static }}images/blue-button.png) no-repeat;display:block;padding:0px 15px;height:30px;width:100px;cursor:pointer;" onmouseover="ocultarpopup(7)" onmouseout="docultarpopup(7)">Removable<span id="p7" style="position:relative;display:none;text-align:justify;width:250px;background: #98CAED;color: white;padding: 10px;border: 1px solid white;border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px;">Vivera retainers are removable, helping you to maintain your overall oral hygiene and function.</span>
                </div>
                <div style="background:url({{ static }}images/blue-button.png) no-repeat;display:block;padding:0px 20px;height:30px;width:100px;margin-top:40px;margin-left:50px;cursor:pointer;" onmouseover="ocultarpopup(8)" onmouseout="docultarpopup(8)">Superior Strength<span id="p8" style="position:relative;display:none;text-align:justify;width:250px;background: #98CAED;color: white;padding: 10px;border: 1px solid white;border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px;">Lab tests show that Vivera retainers are up to 30% stronger* when compared to other leading clear retainer Materials. This is a critical quality for keeping your smile in its final position.</span>
                </div>
                <div style="background:url({{ static }}images/blue-button.png) no-repeat;display:block;padding:0px 30px;height:30px;width:100px;margin-left:230px;margin-top:-20px;cursor:pointer;" onmouseover="ocultarpopup(9)" onmouseout="docultarpopup(9)">Clean & Clear<span id="p9" style="position:relative;display:none;text-align:justify;width:250px;background: #98CAED;color: white;padding: 10px;border: 1px solid white;border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px;">Clear retainers can get dull and dirty over time. With Vivera retainers you receive three sets of retainers so you can switch to a clean and fresh one every few months.</span>
                </div>
            </div>
            <div style="background:url({{ static }}images/blue-button.png) no-repeat;display:block;padding:0px 10px;height:40px;width:200px;">Roll over for more information</div>
            
        </div>
        <div class="content-photo-right" style="margin-top:0px;">
            <div id="form-contact-page" >
                {% include 'services/contact_form.html' %}
            </div>
             <div id="secondary-service-menu">
                <div class="fsclass">
                    <p>Invisalign</p>
                    <ul>
                        {% include 'services/invisalign/list_invisalign.html' %}
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
