{% extends 'base.html' %} 
{% block title %}Dental Sealants{% endblock %} 
{% block page_description %}Since the 1950s, dental sealants have served as an effective preventative measure to help ensure the sound structure of teeth.{% endblock %} 
{% block javascript %} 
<script type="text/javascript">
    jQuery(document).ready(function() {
        $("#menu-active-dental-information").addClass("active");

    });
</script>
{% endblock %} 

{% block page_content %} 
<div id="main-content">
     <div id="breadcrumb">
        <ul>
            {% include 'dental_information/breadcrumb.html'%}
            <li>></li>
           <li>
		        <a href="{{ path_for('dental_sealants') }}" class="activate">Dental Sealants</a>
            </li>
		</ul>
    </div>
    <div id="main-contents-sup">
        <div class="content-text-left">
            <h1>Dental Sealants</h1>
			<p class="text-left">Since the 1950s, dental sealants have served as an effective preventative measure to help ensure the sound structure of teeth. Sealants made of a thin plastic material provide a physical barrier between the grooved surfaces on the teeth and the bacteria that attack and cause cavities. Sealants differ from fluoride in that fluoride strengthens and remineralizes the smooth surfaces of teeth whereas sealants protect the grooved exterior. Because they do not involve drilling or resculpting the original structure of the tooth, dental sealants are a popular and painless alternative to these more involved procedures. Dental sealants save time and money by eliminating the need for future fillings and dental visits.</p>
			<h2>The Process</h2>
			<p class="text-left">The dentist or dental assistant thoroughly cleans the teeth to be sealed with special toothpaste. In order to allow the sealant to bond to the tooth, a solution is applied that etches the grooves of the teeth. The solution is thoroughly wiped from the tooth. The dentist then applies the sealant by "painting" it into the grooves of the mouth. After approximately one minute, the sealant dries and forms a protective bonding with the tooth.</p>
			<h2>Effectiveness of Dental Sealants</h2>
			<p class="text-left">Sealants are most effective in teeth that have recently erupted through the gumline and have not yet been exposed to decay. Children between the ages of 5 and 15 are typically the best candidates, since their permanent teeth are growing into their mouths. Teeth that are marked by deep grooves or curves are less receptive to the bonding material. Dental sealants are typically not visible except at close range. On average, they are effective for five to ten years, at which time they may need to be reapplied.</p>
        </div>
        <div class="content-photo-right">
            <img data-src="{{ static }}images/dental-sealants.jpg" alt="Copley Dental - Dental Information - Dental Sealants" title="Dental Sealants">
            <div id="form-contact-page" >
                {% include 'services/contact_form.html' %}
            </div>
            <div id="secondary-service-menu">
                <div class="fsclass">
                     <p>Dental Information</p>
                    <ul>
                        {% include 'dental_information/list_dental_information.html'%}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    

</div>
{% endblock %}