{% extends 'base.html' %} 
{% block titulo %}Fluoride{% endblock %} 
{% block descripcion_pagina %}Fluoride is a natural mineral compound that has been used for decades to strengthen teeth and bones.{% endblock %} 

{% block javascript %} 
    <script type="text/javascript">
        jQuery(document).ready(function() {
            $("#menu-active-dental-information").addClass("active");

        });
    </script>
{% endblock %} 

{% block contenido_pagina %} 

<div id="main-content">
    <div id="breadcrumb">
        <ul>
            {% include 'dental_information/breadcrumb.html' %}
            <li>></li>
            <li>
		        <a href="{{ path_for('fluoride') }}" class="activate">Fluoride</a>
            </li>
		</ul>
    </div>
    <div id="main-contents-sup">
        <div class="content-text-left">
        <h1>Fluoride</h1>
		<p class="text-left">Fluoride is a natural mineral compound that has been used for decades to strengthen teeth and bones. Fluoride is a cheap and efficient mineral that saves people billions of dollars every year on the cost of dental visits.</p>
        <h2>How Fluoride Works</h2>
        <p class="text-left">Bacteria constantly forms on the inside of the mouth. Over time, these bacteria can gradually erode away the enamel (the outer layer) of the tooth. Once this layer is eroded, bacteria attack the soft core of the tooth, causing cavities or other serious damage to teeth and gums.</p>
        <p class="text-left">Fluoride combats this process by strengthening the enamel and helping to remineralize the tooth's surface. Once ingested into the body, fluoride travels through the blood supply, where it makes its way into the bones and teeth. Fluoride is easily absorbed into the teeth thanks to their porous outer surface. Although ingested primarily through the public water supply, fluoride also comes in the form of a liquid gel or varnish that can be prescribed by a dentist.</p>
        <h2>Health Concerns</h2>
        <p class="text-left">Despite ongoing debate within the medical community, nearly every major health group endorses the use of fluoride to help prevent tooth decay. In order for this to occur most effectively, the in-take of fluoride should be kept  to moderate level. When teeth are exposed to excessive amounts of fluoride, a harmless but undesirable condition known as fluorosis may occur. Fluorosis visibly discolors the enamel of the teeth, appearing as white or brownish spots or lines on the exterior of the teeth. Younger children who are still growing are more prone to developing fluorosis than adults. Parents can protect their children from fluorosis by supervising the amount of fluoride their children take in.</p>
        </div>
        <div class="content-photo-right">
            <img data-src="{{ static }}images/flouride.jpg" alt="Copley Dental - Dental Information - Fluoride" title="Fluoride">
            <div id="form-contact-page" >
                {% include 'services/contact_form.html' %}
            </div>
            <div id="secondary-service-menu">
                <div class="fsclass">
                     <p>Dental Information</p>
                    <ul>
                        {% include 'dental_information/list_dental_information.html' %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
 </div>
{% endblock %}
