{% extends "base.html" %}

{% block titulo %}{{ title }}{% endblock %}
{% block descripcion_pagina %} {{ description }} {% endblock %}

{% block javascript %}

<script type="text/javascript">
    jQuery(document).ready(function(){
        $("#menu-active-services").addClass("active");

    });
</script>
{% endblock %}


{% block contenido_pagina %}
	
			<div id="main-content">
			    <div id="breadcrumb">
						<ul>
                            {% include 'services/breadcrumb_services.html'%}
							<li> > </li>
							<li>
								<a href="{{ path_for('service',{'service':slug}) }}" class="activate">
									Lumineers
								</a>
							</li>
						</ul>
                </div>
            	<div id="main-contents-sup">
					  <div class="content-text-left">
						<h1>Lumineers</h1>
						<p class="text-left"><a href="http://www.lumineers.com/" style="color:#5f6062;" target="_blank"><b>Lumineers by Cerinate</b></a> are porcelain veneers that offer a painless way to a whiter and perfectly aligned smile. At Copley Dental, we can apply these contact-lens-thin "smile shapers" to teeth — in many cases, without any grinding or shaving — whitening and transforming teeth into a naturally beautiful smile.<br>Unlike traditional veneers, Lumineers are contact-lens-thin and are placed over existing teeth without having to remove painful tooth structures, achieving a beautiful, whiter smile.<br>Lumineers are a painless, cosmetic solution for stained, chipped, discolored or misaligned teeth.</p>
					    <h2>Copley Dental Associates P.C., Lumineers Experts in Natick</h2>
						<p class="text-left">Copley Dental Associates provides quality teeth whitening treatments in Natick, including Lumineers, to make sure you get the beautiful smile you have always dreamed of.</p>
						<h2>Treatments</h2>	
						<ul>
                            {% include 'services/list_treatments.html'%}
						 </ul>
						 <a href="{{ path_for('gallery') }}" class="linksmilemake">See Our Smile Make over Gallery:Cosmetic Dental Procedures, Teeth Whitening and More</a>
						  
					  </div>
				        <div class="content-photo-right">
								 <img src="{{ static }}images/generalcosmeticdentistry.png" alt="Lumineers" title="Lumineers">
								 <div id="form-contact-page" >
                                    {% include 'services/contact_form.html'%}
							    </div>
				                  <div id="secondary-service-menu">
                <div class="fsclass">
                    <p>Services</p>
                    <ul>
						{% include 'services/list_services.html' %}
                    </ul>
                </div>
            </div>
							
					  </div>
				</div>
			</div>
{% endblock %}