{% extends 'base.html' %} 
{% block title %}Invisalign For Teenagers{% endblock %}
{% block page_description %}Invisalign offers a range of treatment options for teenagers.{% endblock %}

{% block page_content %} 
<div id="main-content">
    <div id="breadcrumb">
        <ul>
            {% include 'services/invisalign/breadcrumb.html' %}
            <li>></li>
            <li>
                <a href="{{ path_for('invisalign_for_teenagers') }}" class="activate">Invisalign For Teenagers</a>
            </li>
        </ul>
    </div>
	{% include 'services/invisalign/menu_invisalign.html'%}
    <div id="main-contents-sup">
        <div class="content-text-left">
		    <img data-src="{{ static }}images/invisalign-for-teenagers.jpg" style="width:100%;margin-top:20px;" alt="Invisalign For Teenagers" title="Invisalign For Teenagers">
            <h1>Invisalign For Teenagers</h1>
            <p class="text-left">Invisalign offers a range of treatment options for teenagers. The great benefit of Invisalign is that it provides an aesthetic, more flexible way to give teenagers the confidence of a great smile. Invisalign aligners are comfortable, removable and nearly invisible, which means teenagers can carry on enjoying life without the restrictions, irritation and self-consciousness often associated with metal brackets and wires.</p>
            <p class="text-left">Invisalign aligners are also removable, so teenagers can continue brushing and flossing normally.</p>
            <h2>What options are available to teenagers?</h2>
            <p class="text-left">Invisalign has several treatment options available for teenagers, depending on the stage of teeth development.</p>
            <p class="text-left">Some teenagers will be suitable for the same Invisalign treatment as adult patients. Younger teenagers, or those whose adult teeth have not yet erupted can be treated with Invisalign Teen – a treatment designed specifically for teenagers. Your Invisalign Provider will determine which treatment best suits your individual needs and the condition of your teeth.</p>
            <h2>Why Invisalign Teen?</h2>
            <p class="text-left">Invisalign Teen has been developed with teenagers, parents and leading orthodontists who understand the active lifestyles and unique treatment needs of teenage patients.</p>
            <p class="text-left">The Invisalign Teen aligners are made with the same Invisalign technology used for Invisalign aligners, moving teeth gradually without the need for metal or wires.</p>
            <p class="text-left">But because teens (and their mouths) are constantly on the move, we’ve added a few special features:</p>
            <img data-src="{{ static }}images/invisalign-teen-aligner.jpg" style="max-width:100%;" alt="Invisalign For Teenagers" title="Invisalign For Teenagers">
            <ul>
                <li>Blue wear-indicators fade from blue to clear to help your Invisalign Provider, you, and your teenager to gauge wear time.</li>
                <li>Special features designed to compensate for the eruption of canines, second premolars and second molars.</li>
                <li>Six free individual replacement aligners are included in case any are lost or misplaced.</li>
            </ul>
            <p class="text-left">To find out more about Invisalign for teenagers, please talk to your Invisalign Provider who’ll be able to suggest the best treatment option for you.</p>
        </div>
        <div class="content-photo-right" style="margin-top:0px;">
            <div id="form-contact-page" >
                {% include 'services/contact_form.html'%}
            </div>
            <div id="secondary-service-menu">
                <div class="fsclass">
                    <p>Invisalign</p>
                    <ul>
                        {% include 'services/invisalign/list_invisalign.html' %}
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
