
<li> <a href="{{ path_for('what_is_invisalign') }}">What is Invisalign?</a> </li>
<li> <a href="{{ path_for('treatment_process') }}">Treatment Process</a> </li>
<li> <a href="{{ path_for('treatment_comparison') }}">Treatment Comparison</a> </li>
<li> <a href="{{ path_for('invisalign_for_teenagers') }}">Invisalign For Teenagers</a> </li>
<li> <a href="{{ path_for('viviera_retainers') }}">Invisalign Viviera Retainers</a> </li>
<li> <a href="{{ path_for('can_invisalign_work_for_you') }}">Can Invisalign Work For You</a> </li>
<li> <a href="{{ path_for('invisalign_results') }}">The Results</a> </li>
<li> <a href="{{ path_for('stories_about_smiles') }}">Invisalign Stories About Smiles</a> </li>