{% extends 'base.html' %} 
{% block title %}Invisalign - Treatment Comparison{% endblock %} 

{% block page_content %} 

<div id="main-content">
    <div id="breadcrumb">
        <ul>
            {% include 'services/invisalign/breadcrumb.html' %}
            <li>></li>
            <li>
                <a href="{{ path_for('treatment_comparison') }}" class="activate">Treatment Comparison</a>
            </li>
        </ul>
    </div>
	{% include 'services/invisalign/menu_invisalign.html'%}
    <div id="main-contents-sup">
        <div class="content-text-left">
		    <img data-src="{{ static }}images/invisalign-treatment-comparison.jpg" style="width:100%;margin-top:20px;" alt="Treatment Comparison" title="Treatment Comparison">
            <h1>Treatment Comparison</h1>
            <h2>The difference is clear.</h2>
            <p class="text-left">When it comes to deciding on the best treatment type for straightening your teeth, there really is only one option: Invisalign. Only Invisalign offers the depth of innovation, the clinical studies and technology that can accurately control the way your teeth are straightened. Fixed braces and other clear aligner solutions just can’t compete. And here’s why:</p>
            <h2>Always innovating.</h2>
            <p class="text-left">Invisalign is different to traditional teeth straightening treatments. Using innovative technology that we invented and continue to evolve, Invisalign comes as a series of clear removable aligners that straighten your teeth, little by little, and unlike fixed braces, there are no wires or brackets. This means there is no metal and they are nearly invisible when you wear them.</p>
            <h2>In when you want them in. Out when you don’t.</h2>
            <p class="text-left">Fixed braces can only be removed by trained professionals – this can hinder your ability to clean your teeth and gums effectively, and may limit what you can eat comfortably. Because Invisalign aligners can be removed at any time during treatment, you can eat whatever you want, maintain good oral hygiene, and choose to remove them briefly for special occasions such as weddings or big meetings. Your lifestyle remains intact.</p>
            <h2>Look forward to your new smile.</h2>
            <p class="text-left">Whatever the goals of your treatment plan, your Invisalign Provider will always give you a clearly defined Treatment Plan. They will also show you what your teeth might look like during and after the treatment with ClinCheck - our virtual 3D treatment plan.</p>
            <p class="text-left">ClinCheck shows the series of movements your teeth are projected to go through over the course of the treatment. This enables you to see what your teeth are expected to look like when the treatment is finished and monitor changes as you go.</p>

            
        </div>
        <div class="content-photo-right" style="margin-top:0px;">
           
           <div id="form-contact-page" >
                {% include 'services/contact_form.html' %}
            </div>
             <div id="secondary-service-menu">
                <div class="fsclass">
                    <p>Invisalign</p>
                    <ul>
                        {% include 'services/invisalign/list_invisalign.html' %}
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
