<li>
    <a href="{{ path_for('zoom_teeth_whitening_treatment') }}">Zoom!® Teeth Whitening Treatment</a>
</li>
<li>
    <a href="{{ path_for('home_teeth_whitening_treatment') }}">Home Teeth Whitening Treatment</a>
</li>
<li>
    <a href="{{ path_for('service',{'service':slug_invisalign}) }}">Invisalign</a>
</li>
<li>
    <a href="{{ path_for('service',{'service':slug_lumineers}) }}">Lumineers</a>
</li>
<li>
    <a href="{{ path_for('service',{'service':slug_dental_veneers}) }}">Dental Veneers</a>
</li>
<li>
    <a href="{{ path_for('white_dental_fillings') }}">White Dental Fillings</a>
</li>
<li>
    <a href="{{ path_for('all_porcelain_dental_crowns')}}">All-Porcelain Dental Crowns</a>
</li>
<li>
    <a href="{{ path_for('procera_allceram_crowns') }}">Procera AllCeram Crowns</a>
</li>
<li>
    <a href="{{ path_for('gallery')}}">Complete Smile Makeovers</a>
</li>