{% extends 'base.html' %} 
{% block title %}SAVINGS PLAN - CONTACT FORM{% endblock %} 
{% block page_description %}Our goal is to provide you white with the highest standard of dental care of Boston.{% endblock %} 
{% block javascript %} 
    <script type="text/javascript">
        jQuery(document).ready(function() {
            $("#menu-active-contact-us").addClass("active");
            

        });
    </script>
{% endblock %} 

{% block page_content %}
<style type="text/css">
     div#form-contact form{
        background: #98CAED;
        padding-bottom: 35px;
     }
     #tmessage{
        margin-right: 0px !important;
        width: 94% !important;
     }
</style>
<div id="main-content" >
    <div id="breadcrumb">
        <ul>
            {% include 'breadcrumb_inicio.html'%}
            <li>></li>
            <li>
                <a href="{{ path_for('contact_us') }}" class="activate">Contact Us</a>
            </li>
        </ul>
    </div>
    <div id="main-content-inf">
        <br>
        <div id="form-contact" >
            <form method="post"  >
                <div style="text-align:left;color:white;font-weight:bold;height:50px;padding:5px 0 2% 2%;margin-top:40px;">
                    <h1>Contact Us Today!</h1>
                </div>
                <span class="error">{{ contact_us_form_error}}</span>
				<div style="color:white;margin-top:10px;margin-bottom:10px;margin-left: 2%;text-align:left;"><font style="color:red;">(*)</font> Required fields</div>
                <div>
                    <div class="row-field">
                        <div class="column-two">
                            <input type="text" class="input-contact-us" name="first_name" placeholder="FIRST NAME(*)" value="{{ form.first_name.value }}" required>
                            {% for error in form.first_name.errors %}
                                <span class="error">{{error}}</span>
                            {% endfor %}
                        </div>
                        <div class="column-two">
                            <input type="text" class="input-contact-us" name="last_name" placeholder="LAST NAME(*)" value="{{ form.last_name.value}}" required>
                            {% for error in form.last_name.errors %}
                                <span class="error">{{error}}</span>
                            {% endfor %}
                        </div>     
                    </div>
                    
                    
                </div>
                <div class="row-field">
                    <div class="column-two">
                        <input type="email" class="input-contact-us" name="email" placeholder="EMAIL(*)" value="{{ form.email.value}}" required>
                        {% for error in form.email.errors %}
                            <span class="error">{{error}}</span>
                        {% endfor %}
                    </div>
                    <div class="column-two">
                            <input type="text" class="input-contact-us" name="phone" placeholder="PHONE(*)"value="{{ form.phone.value}}"  onkeydown="javascript:backspacerDOWN(this,event);" onkeyup="javascript:backspacerUP(this,event);" required> 
                            {% for error in form.phone.errors %}
                                <span class="error">{{error}}</span>
                            {% endfor %}
                    </div>  
                    
                </div>
                <div class="row-field">
                    <textarea rows="8" class="input-contact-us text-area"  name="message" placeholder="MESSAGE" required>{{ form.message.value}}</textarea>
                    {% for error in form.message.errors %}
                        <span class="error">{{error}}</span>
                    {% endfor %}
                </div>
                <div class="form-section-fields">
                   <br>
                </div>
                <div style="display:inline-block;text-align:center;margin-top:20px;">
                    <p style="font-size:20px;color:red;">{{ error_capcha }}</p>
                <div class="g-recaptcha" data-sitekey="{{ site_key }}"></div></div>
                {% for error in form['g-recaptcha-response'].errors %}
                    <span class="error">{{error}}</span>
                {% endfor %}
                <div style="display:inline-block;width:100%;text-align:center;margin-top:20px;">
                    <input type="submit" style="width:100px;padding:10px;display:block;background:#98CAED;border:1px solid white;text-decoration:none;color:white;font-weight:bold;margin:auto;" onmouseover="this.style.background='rgb(162, 216, 132)'" onmouseout="this.style.background='#98CAED'" value="Send">
                </div>
            </form>
            
            
        </div>
        <div id="main-content-inf-inf">
            <div class="main-content-inf-inf-section" style="border-top:1px solid #c2c2c2;">
                <div class="class-main-content-inf-inf-section-1"><img data-src="{{ static }}images/quality-dental-care.png" alt="QUALITY DENTAL CARE" title="QUALITY DENTAL CARE">
                </div>
                <div class="class-main-content-inf-inf-section-2">QUALITY DENTAL CARE</div>
                <div class="class-main-content-inf-inf-section-3">
                    <p>Our goal is to provide you a high standard of dental care,while maintaining a relaxing and friendly environment. For questions, emergency services, or appointments, please call Copley Dental at:617.536.4020 and let us assist you today!</p>
                </div>
            </div>
            <div class="main-content-inf-inf-section">
                <div class="class-main-content-inf-inf-section-1"><img data-src="{{ static }}images/expert-dentist.png" alt="EXPERT DENTISTS" title="EXPERT DENTISTS">
                </div>
                <div class="class-main-content-inf-inf-section-2">EXPERT DENTISTS</div>
                <div class="class-main-content-inf-inf-section-3">
                    <p>Our goal is to provide you a high standard of dental care,while maintaining a relaxing and friendly environment. For questions, emergency services, or appointments, please call Copley Dental at:617.536.4020 and let us assist you today!</p>
                </div>
            </div>
            <div class="main-content-inf-inf-section">
                <div class="class-main-content-inf-inf-section-1"><img data-src="{{ static }}images/the-copley-Commitment.png" alt="THE COPLEY COMMITMENT" title="THE COPLEY COMMITMENT">
                </div>
                <div class="class-main-content-inf-inf-section-2">THE COPLEY COMMITMENT</div>
                <div class="class-main-content-inf-inf-section-3">
                    <p>Our goal is to provide you a high standard of dental care,while maintaining a relaxing and friendly environment. For questions, emergency services, or appointments, please call Copley Dental at:617.536.4020 and let us assist you today!</p>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
resize();
window.onresize = resize;

function resize() {
    if (document.body.clientWidth < 1000) {
        $(".fix-width").removeClass("fix-width");
    }
}
</script>
{% endblock %}
