{% extends 'base.html' %} 
{% block title %}Medical Missions for Children Quito 2010{% endblock %} 
{% block page_description %}Our amazing team of volunteer surgeons, nurses, anesthesiologists and dentists screened 150 patients. {% endblock %} 

{% block javascript %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            $("#menu-active-social-responsibility").addClass("active")

        });
    </script>
{% endblock %} 

{% block page_content %} 
<div id="main-content">
<div id="breadcrumb">
        <ul>
            {% include 'social_responsibility/breadcrumb.html'%}
            <li>></li>
            <li>
                <a href="{{ path_for('ecuador_humanitarian_mission_2010') }}" class="activate">Medical Missions for Children Quito 2010</a>
            </li>
        </ul>
    </div>
    <div id="main-contents-sup">
        <div class="content-text-left">
            {#<h1>Corporate Social Responsibility</h1>#}
            <h1>Medical Missions for Children Quito 2010</h1>
            <div>
                <img data-src="{{ static }}images/social-responsibility-ecuador.jpg" style="max-width:100%;" alt="2010 Quito - Ecuador Humanitarian Mission August 20 - 27" title="2010 Quito - Ecuador Humanitarian Mission August 20 - 27">
                <p class="text-left">
                    Our amazing team of volunteer surgeons, nurses, anesthesiologists and dentists screened 150 patients. Team members performed surgical procedures to children.
                </p>
                <p class="text-left">
                    Our dental team headed by Dr. Charles Badaoui, (pictured with patients) also provided free dental care and other procedures to children in the clinic at Padre Pedro Carollo Hospital and donated much needed equipment.
                </p>
            </div>
            <p class="text-left" style="margin-top:40px;">To learn more, please visit the <b><a href="http://mmfc.org/" target="_blank" style="color:#5f6062;">Medical Missions for Children website.</a></b> </p>
        </div>
        <div class="content-photo-right">
            <div><img data-src="{{ static }}images/social-responsibility.png" alt="Corporate Social Responsibility" title="Corporate Social Responsibility">
            </div>
            <div style="margin:auto; width:100%; margin-top:20px;">
                <iframe width="700" height="400" style="max-width:100%;" src="https://www.youtube.com/embed/vx9v7-uHpe8" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}
