{% extends 'base.html' %} 
{% block title %}Medical Missions for Children Philippines 2019{% endblock %} 
{% block javascript %} 
    <script type="text/javascript">
    jQuery(document).ready(function() {
        $("#menu-active-social-responsibility").addClass("active")

    });
    </script>
{% endblock %}


{% block page_content %} 
<div id="main-content">
    <div id="breadcrumb">
        <ul>
            {% include 'social_responsibility/breadcrumb.html'%}
            <li>></li>
            <li>
                <a href="{{ path_for('guatemala_humanitarian_mission_2014_video') }}" class="activate"> Medical Missions for Children Philippines 2019</a>
            </li>
        </ul>
    </div>
    <div id="main-contents-sup">
        <div class="content-text-left">

            <h1>Medical Missions for Children Philippines 2019</h1>
            <div>
				<iframe style="max-width:100%;width:100%;" height="315" src="https://www.youtube.com/embed/N06P6MjRkH8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>               
            </div>
			<br>
			<div>
			<video  style="max-width:100%;width:100%;" height="315" src="https://copleydentalnatick.com/videos/Copley_Mabalacat_Philippines.mov" controlslist="nodownload" preload="auto" controls autoplay loop>
			 Su navegador no puede usar o no es compatible actualice su navegador 
            </video>
            </div>
            <p class="text-left" style="margin-top:40px;">To learn more, please visit the <b><a href="http://mmfc.org/" target="_blank" style="color:#5f6062;">Medical Missions for Children website.</a></b> </p>
        </div>
		
        <div class="content-photo-right">
            <div><img src="{{ static }}images/social-responsibility.png" alt="Corporate Social Responsibility" title="Corporate Social Responsibility">
            </div>
            <div style="margin:auto; width:100%; margin-top:20px;">
			</div>
        </div>
    </div>
</div>
{% endblock %}
