{% extends 'base.html' %} 
{% block titulo %}SAVINGS PLAN - PERIODONTAL MAINTENANCE PLAN{% endblock %} 
{% block descripcion_pagina %}Our goal is to provide you white with the highest standard of dental care of Boston.{% endblock %} 
{% block javascript %} 
    <script type="text/javascript">
        jQuery(document).ready(function() {
            $("#menu-active-services").addClass("active");
            

        });
    </script>
{% endblock %} 

{% block contenido_pagina %}
<style type="text/css">
     div#form-contact form{
        background: #98CAED;
        padding-bottom: 35px;
     }
     #tmessage{
        margin-right: 0px !important;
        width: 94% !important;
     }
</style>
<div id="main-content" >
    <div id="breadcrumb">
        <ul>           {% include 'services/breadcrumb_services.html' %}            <li> > </li>            <li>                <a href="{{ path_for('savings_plan',{'savings_plan':slug}) }}">Savings Plan</a>            </li>			<li> > </li>            <li>                <a href="{{ path_for('savings_plan_form_periodontal_maintenance',{'savings_plan_form_periodontal_maintenance':slug}) }}" class="activate">Periodontal Maintenance Plan</a>            </li>        </ul>
    </div>
    <div id="main-content-inf">
        <br>
        <div id="form-container-savings-periodontal" data-redirect-to="/services/savings-plan/thank_you_savings_plan_periodontal_maintenance/">
            <span id="status-savings-periodontal" class="hidden"></span>
            <div id="form-contact">
                <form id="form-savings-periodontal" class="contact-form" data-form-name="Savings Plan - Periodontal Maintenance" method="post">
                    <div style="text-align:left;color:white;font-weight:bold;height:50px;padding:5px 0 2% 2%;margin-top:40px;">
                        <h1>Periodontal Maintenance Plan</h1>
                    </div>
                    <div style="color:white;margin-top:10px;margin-bottom:10px;margin-left: 2%;text-align:left;"><font style="color:red;">(*)</font> Required fields</div>
                    <div>
                        <div class="row-field">
                            <div class="column-two">
                                <input type="text" class="input-contact-us form-input" name="firstName" placeholder="FIRST NAME(*)" required>
                            </div>
                            <div class="column-two">
                                <input type="text" class="input-contact-us form-input" name="lastName" placeholder="LAST NAME(*)" required>
                            </div>
                        </div>
                    </div>
                    <div class="row-field">
                        <div class="column-two">
                            <input type="email" class="input-contact-us form-input" name="email" placeholder="EMAIL(*)" required>
                        </div>
                        <div class="column-two">
                            <input type="tel" class="input-contact-us form-input" name="phone" placeholder="PHONE(*)" required>
                        </div>
                    </div>
                    <input type="hidden" name="plan" value="Periodontal Maintenance Plan">
                    <div class="form-section-fields">
                       <br>
                    </div>
                    <div style="display:inline-block;width:100%;text-align:center;margin-top:20px;">
                        <input type="submit" style="width:100px;padding:10px;display:block;background:#98CAED;border:1px solid white;text-decoration:none;color:white;font-weight:bold;margin:auto;" onmouseover="this.style.background='rgb(162, 216, 132)'" onmouseout="this.style.background='#98CAED'" value="Send">
                    </div>
                </form>
            </div>
        </div>
        

    </div>
</div>
<script type="text/javascript">
resize();
window.onresize = resize;

function resize() {
    if (document.body.clientWidth < 1000) {
        $(".fix-width").removeClass("fix-width");
    }
}
</script>
{% endblock %}
