{% extends 'base.html' %} 
{% block title %}Ask The Doctor{% endblock %} 
{% block javascript %} 

<script type="text/javascript">
jQuery(document).ready(function() {
    
});
</script>
{% endblock %} 
{% block styles %}
{#
<script type="text/javascript">
function showLightboxx(num) {
    if (num == 1) {
        document.getElementById('overx').style.display = 'block';
    }
    if (num == 2) {
        document.getElementById('overx1').style.display = 'block';
    }
    if (num == 3) {
        document.getElementById('overx2').style.display = 'block';
    }
   
    if (num == 4) {
        document.getElementById('overx3').style.display = 'block';
    }
    if (num == 5) {
        document.getElementById('overx4').style.display = 'block';
    }
    if (num == 6) {
        document.getElementById('overx5').style.display = 'block';
    }
    document.getElementById('fadex').style.display = 'block';
}

function hideLightboxx(num) {
    if (num == 1) {
        document.getElementById('overx').style.display = 'none';
    }
    if (num == 2) {
        document.getElementById('overx1').style.display = 'none';
    }
    if (num == 3) {
        document.getElementById('overx2').style.display = 'none';
    }
   
    if (num == 4) {
        document.getElementById('overx3').style.display = 'none';
    }
    if (num == 5) {
        document.getElementById('overx4').style.display = 'none';
    }
    if (num == 6) {
        document.getElementById('overx5').style.display = 'none';
    }
    document.getElementById('fadex').style.display = 'none';
}
</script>
#}
<style type="text/css">
.fadeboxx {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 1780px;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}
.overboxx,
.overboxx1,
.overboxx2,
.overboxx3,
.overboxx4,
.overboxx5 {
    display: none;
    position: fixed;
    top: 0%;
    left: 25%;
    width: 50%;
    z-index: 1002;
}
#contentinvisax {
    background: black;
    width: 50%;
    padding: 0px 80px;
}

@media (max-width: 600px) {

    .overboxx,
    .overboxx1,
    .overboxx2,
    .overboxx3,
    .overboxx4,
    .overboxx5 {
        left: 0%;
        width: 100%;
    }
}
</style>
 {% endblock %} 

 {% block page_content %}
  <div id="slider" class="slid-ask">
			<div id="wrapper">
				<!-- Slideshow 2 -->
				<ul class="rslides" id="slider2">
					<li>
						<a href="#"><img src="{{ static }}images/ask-doctor.jpg" alt="Ask Dr Copley">
						</a>
					</li>

				</ul>
			</div>
    </div>      
<div id="main-content">
    <div id="breadcrumb">
        <ul> 
            {% include 'breadcrumb_inicio.html' %}
            <li>></li>
            <li>
                <a href="{{ path_for('ask_doctor') }}" class="activate">Ask The Doctor</a>
            </li>
        </ul>
    </div>
    <div id="main-contents-inf">
	    <div id="form-container-ask-doctor" data-redirect-to="/ask-doctor/thank-you/">
            <span id="status-ask-doctor" class="hidden"></span>
            <div id="form-contact-page">
                <form id="form-ask-doctor" class="contact-form" data-form-name="Ask the Doctor" method="POST">
                    <h2 style="text-align:center;font-size:25px;">Ask The Doctor</h2>
                    <div>
                        <input type="email" name="email" class="form-input" placeholder="Email(*)" required>
                    </div>
                    <div>
                        <textarea rows="10" name="message" class="form-input" placeholder="Message(*). Max. 300 Characters" style="font-family:Tahoma,Geneva,sans-serif;font-size:14px;" maxlength="300" required></textarea>
                    </div>
                    <div style="color:white;margin-top:10px;margin-left: 6%;text-align:left;">(*) Required</div>
                    <div class="form-section">
                        <div class="form-section-fields">
                            <br>
                            <div class="section-submit">
                                <input type="submit" value="Send" style="cursor:pointer;width:12%;" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
	</div>
</div>
{% endblock %}
