{% extends 'base.html' %} 
{% block titulo %} Medical Missions for Children Guatemala 2014{% endblock %} 
{% block javascript %} 
    <script type="text/javascript">
        jQuery(document).ready(function() {
            $("#menu-active-social-responsibility").addClass("active")

        });
    </script>
{% endblock %} 
{% block contenido_pagina %}
<div id="main-content">
     <div id="breadcrumb">
        <ul>
            {% include 'social_responsibility/breadcrumb.html' %}
            <li>></li>
            <li>
                <a href="{{ path_for('guatemala_humanitarian_mission_2014') }}" class="activate">Medical Missions for Children Guatemala 2014</a>
            </li>
        </ul>
    </div>
    <div id="main-contents-sup">
        <div class="content-text-left">
            
            <h1>Medical Missions for Children Guatemala 2014</h1>
            <div>
                <img data-src="{{ static }}images/guatemala-humanitarian-mission.jpg" style="max-width:100%;" alt="2014 Guatemala Humanitarian Mission" title="2014 Guatemala Humanitarian Mission">
                <p class="text-left">
                    During our one week humanitarian mission to Guatemala, Medical Missions For Children( MMFC) team members performed several surgical procedures to children, including cleft lip and palate procedures and microtia (re-construction of the outer ear). Our dental team headed by Dr. Charles Badaoui, (pictured below with a patient) also provided free dental care and other procedures to several children in the clinic and donated much needed equipment.
                </p>
            </div>
            <p class="text-left" style="margin-top:40px;">To learn more, please visit the <b><a href="http://mmfc.org/" target="_blank" style="color:#5f6062;">Medical Missions for Children website.</a></b> </p>
        </div>
        <div class="content-photo-right">
            <div><img data-src="{{ static }}images/social-responsibility.png" alt="Corporate Social Responsibility" title="Corporate Social Responsibility">
            </div>
            <div style="margin:auto; width:100%; margin-top:20px;">
                <iframe width="700" height="400" style="max-width:100%;" src="https://www.youtube.com/embed/vx9v7-uHpe8" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}
