{% extends 'base.html' %} 
{% block title %}Snoring: There's Hope{% endblock %} 
{% block page_description %}Forty-five percent of normal adults snore at least occasionally, and 25 percent are habitual snorers.{% endblock %} 
{% block javascript %} 
<script type="text/javascript">
    jQuery(document).ready(function() {
        $("#menu-active-dental-information").addClass("active");
    });
</script>
{% endblock %} 

{% block page_content %} 
<div id="main-content">
    <div id="breadcrumb">
        <ul>
            {% include 'dental_information/breadcrumb.html' %}
            <li>></li>
            <li>
                <a href="{{ path_for('snoring') }}" class="activate">Snoring</a>
            </li>
		</ul>
    </div>
    <div id="main-contents-sup">
        <div class="content-text-left">
           <h1>Snoring: There's Hope</h1>
        <p class="text-left">Forty-five percent of normal adults snore at least occasionally, and 25 percent are habitual snorers. Problem snoring is more frequent in males and overweight persons, and it usually grows worse with age.</p>
        <p class="text-left">More than 300 devices are registered with the U.S. Patent and Trademark Office as cures for snoring. Some are variations on the old idea of sewing a sock that holds a tennis ball on the pajama back to force the snorer to sleep on his side. The reasoning behind this is that snoring is often worse when a person sleeps on his back.</p>
        <p class="text-left">Some devices reposition the lower jaw forward; some open nasal air passages; a few others have been designed to condition a person not to snore by producing unpleasant stimuli when snoring occurs. But if you snore, the truth is that it is not under your control whatsoever. If anti-snoring devices work, it is probably because they keep you awake.</p>
		<h2>What Causes Snoring?</h2>
        <p class="text-left">The noisy sounds of snoring occur when there is an obstruction to the free flow of air through the passages at the back of the mouth and nose. This area is the collapsible part of the airway where the tongue and upper throat meet the soft palate and uvula. Snoring occurs when these structures strike each other and vibrate during breathing.</p>
        <h2>People who snore may suffer from:</h2>
		<ul style="text-align:left;">
		<li>Poor muscle tone in the tongue and throat. When muscles are too relaxed, either from alcohol or drugs that cause sleepiness, the tongue falls backward into the airway or the throat muscles draw in from the sides into the airway. This can also happen during deep sleep.</li>
        <li>Excessive bulkiness of throat tissue. Children with large tonsils and adenoids often snore. Overweight people have bulky neck tissue, too. Cysts or tumors can also cause bulk, but they are rare.</li>
        <li>Long soft palate and/or uvula. A long palate narrows the opening from the nose into the throat. As it dangles, it acts as a noisy flutter valve during relaxed breathing. A long uvula makes matters even worse.</li>
        <li>Obstructed nasal airways. A stuffy or blocked nose requires extra effort to pull air through it. This creates an exaggerated vacuum in the throat, pulling together the floppy tissues of the throat, and snoring results. So snoring often occurs only during the hay fever season or with a cold or sinus infection. Also, deformities of the nose or nasal septum, such as a deviated septum (a deformity of the wall that separates one nostril from the other) can cause such an obstruction.</li>
        </ul>
		<h2>Is Snoring Serious?</h2>
		<ul style="text-align:left;">
        <li>Socially, yes! It can be, when it makes the snorer an object of ridicule and causes others sleepless nights and resentfulness.</li>
        <li>Medically, yes! It disturbs sleeping patterns and deprives the snorer of appropriate rest. When snoring is severe, it can cause serious, long-term health problems, including obstructive sleep apnea.</li>
        <li><b>Obstructive Sleep Apnea</b>.When loud snoring is interrupted by frequent episodes of totally obstructed breathing, it is known as obstructive sleep apnea. Serious episodes last more than ten seconds each and occur more than seven times per hour. Apnea patients may experience 30 to 300 such events per night. These episodes can reduce blood oxygen levels, causing the heart to pump harder.</li>
        <li>The immediate effect of sleep apnea is that the snorer must sleep lightly and keep his muscles tense in order to keep airflow to the lungs. Because the snorer does not get a good rest, he may be sleepy during the day, which impairs job performance and makes him a hazardous driver or equipment operator. After many years with this disorder, elevated blood pressure and heart enlargement may occur.</li>
        </ul>
		<h2>Can Heavy Snoring Be Cured?</h2>
        <p class="text-left">Heavy snorers — those who snore in any position or are disruptive to the family - should seek medical advice to ensure that sleep apnea is not a problem. An otolaryngologist will provide a thorough examination of the nose, mouth, throat, palate and neck. A sleep study in a laboratory environment may be necessary to determine how serious the snoring is and what effects it has on the snorer's health.</p>
        <h2>Treatment</h2>
		<ul style="text-align:left;">
        <li>Treatment depends on the diagnosis. An examination will reveal if nasal allergy, infection, deformity or tonsils and adenoids are causing the snoring. Snoring or obstructive sleep apnea may respond to various treatments now offered by many otolaryngologists (head and neck surgeons).</li>
        <li>Uvulopalatopharyngoplasty is surgery for treating obstructive sleep apnea. It tightens flabby tissues in the throat and palate and also expands air passages.</li>
        <li>Thermal ablation palatoplasty (TAP) refers to procedures and techniques that treat snoring, and some of them are also used to treat various severities of obstructive sleep apnea. Different types of TAP include bipolar cautery, laser, and radio frequency. Laser assisted uvula palatoplasty(LAUP) treats snoring and mild obstructive sleep apnea by removing the obstruction in the airway. A laser is used to vaporize the uvula and a specified portion of the palate in a series of small procedures in a doctor's office under local anesthesia. Radio frequency ablation — sometimes with temperature control approved by the U.S. Food and Drug Administration — utilizes a needle electrode to emit energy to shrink excess tissue to the upper airway, including the palate and uvula (for snoring), the base of the tongue (for obstructive sleep apnea), and the nasal turbinate (for chronic nasal obstruction).</li>
        <li>Genioglossus and hyoid advancement is a surgical procedure for the treatment of sleep apnea. It prevents collapse of the lower throat and pulls the tongue muscles forward, thereby opening the obstructed airway.</li>
        <li>If surgery is too risky or unwanted, the patient may sleep every night with a nasal mask that delivers air pressure into the throat; this is called continuous positive airway pressure, or CPAP. A chronically snoring child should be examined for problems with his or her tonsils and adenoids. A tonsillectomy and adenoidectomy may be required to return the child to full health.</li>
        </ul>
		<h2>Self-Help for the Light Snorer</h2>
        <p class="text-left">Adults who suffer from mild or occasional snoring should try the following self-help remedies:</p>
        <ul>
            <li>Adopt a healthy and athletic lifestyle to develop good muscle tone and lose weight.</li>
            <li>Avoid tranquilizers, sleeping pills and antihistamines before bedtime.</li>
            <li>Avoid alcohol for at least four hours and heavy meals or snacks for three hours before retiring.</li>
            <li>Establish regular sleeping patterns.</li>
            <li>Sleep on your side rather than on your back.</li>
            <li>Tilt the head of your bed upward four inches. </li>
        </ul>
        <p class="text-left">Remember, snoring means obstructed breathing, and obstruction can be serious. It's not funny, and it’s not hopeless.</p>
        </div>
        <div class="content-photo-right">
            <img data-src="{{ static }}images/snoring.jpg" alt="Copley Dental - Dental Information - Snoring-Theres-Hope" title="Snoring-Theres-Hope">
            <div id="form-contact-page">
                {% include 'services/contact_form.html' %}
            </div>
            <div id="secondary-service-menu">
                <div class="fsclass">
                    <p>Dental Information</p>
                    <ul>
                        {% include 'dental_information/list_dental_information.html' %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    

</div>
{% endblock %}
