{% extends 'base.html' %}
{% block title %}All Porcelain Dental Crowns{% endblock %}
{% block page_description %}Today, beautiful teeth are important for self-esteem and a sense of well-being.{% endblock %}

{% block javascript %}

<script type="text/javascript">
    jQuery(document).ready(function(){
        $("#menu-active-services").addClass("active");
        

    });
</script>
{% endblock %}


{% block page_content %}


			<div id="main-content">
			<div id="breadcrumb">
						<ul>
							{% include 'services/breadcrumb_services.html'%}
							
							<li> > </li>
							<li>
								<a href="{{ path_for('all_porcelain_dental_crowns') }}" class="activate">All Porcelain Dental Crowns</a>
							</li>
						</ul>
                </div>
            	<div id="main-contents-sup">
					  <div class="content-text-left">
						  <h1>All Porcelain Dental Crowns</h1>
						  <p class="text-left">Today, beautiful teeth are important for self-esteem and a sense of well-being.You want aesthetically pleasing, natural looking restorations that offer value for money in terms of the lifespan of the restoration and its biocompatibility.</p>
					      <h2>We offer:</h2>
						  <h2>Lava™ Crowns and Bridges.Natural beauty that brings out the same in you.</h2>
						<ul>
						    <li>Lava™ Zirconia restorations are an ideal alternative to porcelain-fused-to-metal (PFM) restorations.</li>
							<li>Lava zirconia restorations provides the translucency and beauty of your natural teeth.</li>
							<li>Lava zirconia could be an alternative for those who have concerns about metal.</li>
							<li>Lava crowns and bridges are made from zirconium oxide (zirconia) and are suitable for anterior and posterior applications of up to 4 units in length.</li>
						</ul>
						<h2>Treatments</h2>	
                        <ul>
                            {% include 'services/list_treatments.html' %}    
                        </ul>
					     <a href="{{ path_for('gallery') }}" class="linksmilemake">See Our Smile Make over Gallery:Cosmetic Dental Procedures, Teeth Whitening & more</a>
					  </div>
				      <div class="content-photo-right">
								 <img data-src="{{ static }}images/generalcosmeticdentistry.png" alt="All Porcelain Dental Crowns" title="All Porcelain Dental Crowns">
								 <div id="form-contact-page" >
                                    {% include 'services/contact_form.html' %}
							    </div>
				                  <div id="secondary-service-menu">
                <div class="fsclass">
                    <p>Services</p>
                    
                    <ul>
                        {% include 'services/list_services.html'%}
                    </ul>
                </div>
            </div>
							
					  </div>
				</div>
			</div>
{% endblock %}